.grid {
  display: flex;
  flex-wrap: wrap;
}

.fixed-size {
  width: ant(100px 1/2)[1]; /* returns 100px (I know it seems silly but bear with me for a bit longer) */
  margin-right: 30px;
}

.half {
  width: ant(100px 1/2)[2];  /* returns calc((99.99% - (100px + (30px * 1))) * 1/2 - (30px - 30px * 1/2)) */
  margin-right: 30px;
}

.half:nth-child(3n + 3) {
  margin-right: 0;
}
