.grid {
  display: flex;
  flex-wrap: wrap;
}

.column {
  margin-right: 30px;
}

.column:nth-child(3n + 1) {
  width: 100px;
}

.column:nth-child(3n + 2) {
  width: calc((99.99% - (100px + (30px * 1))) * 1/2 - (30px - 30px * 1/2));
}

.column:nth-child(3n + 3) {
  width: calc((99.99% - (100px + (30px * 1))) * 1/2 - (30px - 30px * 1/2));
}

.column:nth-child(3n + 3) {
  margin-right: 0;
}
