@import 'mixins/ant-escaper';

// Tweak these 2 variables all you'd like to see some cool stuff.
$sizes: 100px 1/2 1/2;
$gutter: 30px;

$length: length($sizes);

.grid {
  display: flex;
  flex-wrap: wrap;
}

.column {
  margin-right: $gutter;

  @for $i from 1 through $length {
    &:nth-child(#{$length}n + #{$i}) {
      width: ant('#{$sizes}, #{$gutter}', $i);
    }
  }

  &:nth-child(#{$length}n + #{$length}) {
    margin-right: 0;
  }
}
